/* ------- UI - Input ------- */
input {
	&::-ms-clear {
		display: none;
	}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.ui-input,
.ui-textarea {
	appearance: none;
	display: block;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $input-border;
	border-radius: none;
	outline: none;
	padding: 0;
	width: 100%;
	height: $input-height;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $text-size-desktop;
	line-height: 1.5;
	text-align: left;
	color: $base-color;
	background: transparent;
	transition: $duration background-color, $duration color, $duration border-color, $duration box-shadow;

	&::placeholder {
	  color: $placeholder;
	  transition: $duration color;
	}

	&:hover {
		border-bottom-color: $second;
	}

	&:focus {
		border-color: $black;
	}

	&:focus-visible {
		outline: none;
	}

	&::-ms-clear {
		display: none;
	}

	@include disabled {
		color: $disabled-color;
		background-color: $disabled-background;
	}

	@include error {
		border-color: $error;
	}
}

.ui-textarea {
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: auto;
	resize: none;

    scrollbar-width: thin;
    scrollbar-color: var(--color-base-20);

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $accent;
      transition: $duration background;
    }

    &::-webkit-scrollbar-track {
        margin: 0.5rem 0;
        background: transparent;
    }
}
