/* ------- homeSection -------- */
.home-section {
    position: relative;
    padding: 0;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.8s opacity;
        transform: translateZ(0) scale(1.1);

        .simpleParallax {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &.is-active {
            opacity: 1;
        }
    }

    &__bg-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(1.2);
		transition: 1.5s transform;
		will-change: transform;
		transition-delay: 0.3s;

        .html-is-loaded & {
			transform: none;
			will-change: auto;
            opacity: 1;
		}

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &_mobile {
            @include media-min(tab) {
                display: none;
            }
        }

        &_desktop {
            @include media(mob) {
                display: none;
            }
        }

    }

    &__bg-parallax {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: transform;

    }


    &__bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $black;
    }

    &__slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: auto;

        + .home-section__inner {
            --content-bg: none;
        }

        //added
        .home-section {
            &__title {
                @include media(mob) {
                    margin-bottom: 110px;
                }
            }
        }
        & ~ .home-section__inner .home-section__button {
            @include media(mob) {
                margin-bottom: 50px;
            }
        }
        //added
    }

    &__title-wrapper {
        overflow: hidden;
    }

    &__slider-item {
        position: relative;

        .home-section__title {
            opacity: 0;
            transition: var(--duration-lg, 1s) opacity;
        }

        &.swiper-slide-active {
            .home-section {
                &__title {
                    opacity: 1;
                    transition-delay: 0.5s;
                }
            }
        }
    }

    &__slider-image-box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
    }

    &__slider-picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__slider-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //added
        object-fit: cover;
        //added
    }

    &__slider-pagination {
        padding-bottom: 3rem;

        .swiper-pagination-bullet {
            position: relative;
            z-index: 2;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding-top: $header;
        min-height: calc(var(--vh, 1vh) * 100);
        pointer-events: none;
    }

    &__content-inner {
        transform: translate3d(0, 100%, 0);
		opacity: 0;
		transition: 1.5s transform, 1s opacity;
		will-change: transform, opacity;
		transition-delay: 0.3s;

        .html-is-loaded & {
			transform: none;
			will-change: auto;
			opacity: 1;
		}
    }

    &__content {
        padding: $space-default 0;
        width: 100%;
        background: var(--content-bg, linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 100%));

        opacity: 0;
		transition: 0.05s opacity;
		transition-delay: 0s;

        .html-is-loaded & {
            opacity: 1;
		}
    }

    &__container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        align-items: flex-end;
        gap: 2rem;

        @include media(mob) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        margin: 0;
        max-width: 56.2rem;
        font-family: $font-alethia-next;
        font-weight: 350;
        font-size: 6.4rem;
        line-height: 110%;
        color: $white;
        pointer-events: auto;

        @include media(tab-l) {
            max-width: 41.6rem;
            font-size: 4.8rem;
            line-height: 120%;
        }

        @include media(mob) {
            max-width: 35rem;
            font-size: 4rem;
        }

        h1 {
            margin: 0;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }

    }

    &__button {
        position: relative;
        z-index: 2;
        pointer-events: auto;
    }

    &__video-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;


        video,
        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1000;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}
