---
import ButtonMore from '@components/modules/ButtonMore.astro';

const items = [
	{
		title: "Опыт и&nbsp;профессионализм",
		text: "Работая более 15&nbsp;лет в&nbsp;индустрии аренды люксовых шале с&nbsp;обслуживанием и&nbsp;аренды престижных вилл ​​уровень профессионализма команды постоянно растет"
	},
	{
		title: "Надежность и&nbsp;забота",
		text: "Компания Дольче Вилла основана и&nbsp;расположена в&nbsp;Швейцарии, что позволяет нам гарантировать всем клиентам надежность и&nbsp;конфиденциальность в&nbsp;совокупности с&nbsp;высоким уровнем сервиса"
	},
	{
		title: "Портфолио",
		text: "Наше портфолио насчитывает порядка 600 тщательно подобранных шале и&nbsp;вилл класса люкс"
	}
]
---

<section class="section about-company">
	<div class="about-company__inner">
		<div class="about-company__image-box">
			<img class="about-company__image" width="1920" height="586" src="img/about-company/company-image.jpg" alt="" />
		</div>
		<div class="container about-company__container">
			<div class="about-company__row">
				<div class="about-company__column">
					<div class="about-company__location-wrapper">
						<div class="about-company__location">
							<div class="about-company__location-map lazy" data-bg="img/about-company/company-map.svg"></div>
							<div class="about-company__location-pointer">
								<svg class="about-company__location-pointer-logo" width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g>
									<path d="M24.331 48.0515C37.0696 48.0515 47.4315 37.654 47.4315 24.8758C47.4315 12.0976 37.0677 1.70007 24.331 1.70007C11.5942 1.70007 1.23047 12.0976 1.23047 24.8758C1.23047 37.654 11.5942 48.0515 24.331 48.0515ZM24.331 5.38595C35.0426 5.38595 43.7556 14.1292 43.7556 24.8739C43.7556 35.6185 35.0407 44.3637 24.331 44.3637C13.6212 44.3637 4.90628 35.6204 4.90628 24.8739C4.90628 14.1274 13.6193 5.38595 24.331 5.38595Z" fill="white"/>
									<path d="M33.6875 28.0762C34.0279 27.7746 34.3172 27.4293 34.5554 27.0443C35.0168 26.2911 35.2512 25.4014 35.2512 24.3979C35.2512 23.3944 35.0168 22.5237 34.5554 21.7706C34.3228 21.3912 34.0392 21.0516 33.7083 20.7538C33.7442 20.8297 33.7802 20.9074 33.8123 20.9852C34.2188 21.9394 34.4268 23.0871 34.4268 24.3979C34.4268 25.7088 34.2207 26.8394 33.8142 27.7974C33.7745 27.8922 33.731 27.9852 33.6875 28.0762Z" fill="white"/>
									<path d="M24.33 43.4986C34.5652 43.4986 42.8925 35.1442 42.8925 24.8757C42.8925 14.6072 34.5652 6.25281 24.33 6.25281C14.0949 6.25281 5.76758 14.6072 5.76758 24.8757C5.76758 35.1442 14.0949 43.4986 24.33 43.4986ZM28.1325 35.719H20.5578V34.3475H20.7374C21.1042 34.3475 21.4465 34.1824 21.6753 33.896C21.9041 33.6095 21.9911 33.2396 21.9135 32.8792L19.0886 19.9814H20.5313L23.2863 32.5624C23.4111 33.1353 23.3468 33.7233 23.1104 34.2431H24.279L21.1591 19.9814H22.6566L25.4797 33.5128L25.8276 31.7239H27.0453L26.7919 32.8773C26.7125 33.2358 26.7995 33.6057 27.0302 33.8941C27.259 34.1805 27.6012 34.3456 27.968 34.3456H28.1287V35.7171L28.1325 35.719ZM35.8037 20.9982C36.4107 21.9866 36.7189 23.1305 36.7189 24.3977C36.7189 25.6649 36.4107 26.8296 35.8037 27.818C35.1967 28.8044 34.3364 29.5822 33.2473 30.1304C32.1544 30.6786 30.8837 30.9556 29.4675 30.9556H25.6064L25.336 29.5841H28.6563C29.5563 29.5841 30.3391 29.383 30.9877 28.9884C31.6363 28.5938 32.1336 27.9982 32.4645 27.2204C32.7935 26.4464 32.9599 25.496 32.9599 24.3977C32.9599 23.2993 32.7935 22.3337 32.4645 21.5654C32.1336 20.7934 31.6363 20.2015 30.9877 19.8069C30.8383 19.7159 30.6776 19.6362 30.4999 19.5622L30.844 17.9896C31.5795 18.1148 32.5722 18.3348 33.2454 18.6744C34.3345 19.2283 35.1948 20.0099 35.8018 20.9963L35.8037 20.9982ZM26.4932 14.0343H32.2319V15.4059H31.7119C31.0804 15.4059 30.5245 15.8554 30.3902 16.472L27.6882 28.812H26.4005L28.6979 17.0221C28.7754 16.6218 28.6733 16.2121 28.4143 15.8972C28.1552 15.5823 27.7752 15.4021 27.3686 15.4021H26.4932V14.0305V14.0343ZM16.4603 14.0343H24.0351V15.4059H23.4073C23.0008 15.4059 22.6188 15.5861 22.3617 15.901C22.1026 16.2159 22.0005 16.6275 22.0799 17.0278L22.0875 17.0714H20.5427C20.4841 16.5308 20.5805 15.9901 20.8187 15.5083H19.4687C19.5708 15.7113 19.6483 15.9294 19.6975 16.1571L19.8979 17.0714H18.4552L18.3247 16.4739C18.1904 15.8554 17.6327 15.4078 17.003 15.4078H16.4641V14.0362L16.4603 14.0343ZM12.6843 29.5841H13.1967C13.9436 29.5841 14.5506 28.9751 14.5506 28.2258V20.5714C14.5506 19.8221 13.9436 19.2131 13.1967 19.2131H12.6843V17.8416H27.7544L27.4877 19.2131H17.9012V29.586H20.4065L20.7072 30.9575H12.6843V29.586V29.5841Z" fill="white"/>
									<path d="M15.9454 20.4937V28.3018C15.9454 28.7627 15.8395 29.1971 15.6523 29.5841H16.5335V19.2113H15.6523C15.8395 19.5983 15.9454 20.0327 15.9454 20.4937Z" fill="white"/>
									</g>
								</svg>
									
							</div>
						</div>
					</div>
				</div>
				<div class="about-company__column">
					<div class="about-company__content">
						<h2 class="about-company__title section-title">Дольче Вилла</h2>
						<div class="about-company__text">
							<p>Наша компания базируется в&nbsp;итальянской части Швейцарии в&nbsp;городе Лугано, где швейцарские точность, надежность и&nbsp;качество встречаются с&nbsp;итальянской сладкой жизнью &laquo;Дольче Вита&raquo;. Дольче Вита, как воплощение счастливой, сказочно красивой, беззаботной и&nbsp;полной удовольствий жизни, является понятием, вышедшим далеко за&nbsp;пределы жизнелюбивой Италии и&nbsp;ставшим основой нашего понимания, каким должен быть Ваш отдых.</p>
						</div>
						<div class="about-company__more-wrapper">
							<ButtonMore type='link' direction='down'>Узнать больше</ButtonMore>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>