---
import Layout from '@layouts/layout.astro';
import Breadcrumbs from '@components/blocks/Breadcrumbs.astro';
---

<Layout title="Политика конфиденциальности" isMap={true}>
    <Breadcrumbs title="Политика конфиденциальности"></Breadcrumbs>
    <div class="p-text-page">
        <div class="container">
            <h1 class="p-text-page__title heading-title">Политика конфиденциальности</h1>
            <div class="p-text-page__description description">
                <p>Perhaps not as&nbsp;exciting as&nbsp;some of&nbsp;the other parts of&nbsp;our website. On&nbsp;this page you can view our company information and read our booking conditions, privacy policy as&nbsp;well as&nbsp;our website terms of&nbsp;use. You will also find information on&nbsp;our membership with the Swiss Travel Fund.</p>
            </div>
            <div class="p-text-page__section">
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <h2>Impressum</h2>
                    </div>
                </div>
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <p>
                            Company Information <br>
                            Dolce Villa Sagl <br>
                            <a href="">Viale Stefano Franscini 30</a> <br>
                            6900&nbsp;Lugano, Switzerland
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-text-page__section">
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <h2>Booking Terms &amp;&nbsp;Conditions</h2>
                    </div>
                </div>
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <p>Please read the Booking Documents (Booking Form and Terms and Conditions) carefully as&nbsp;they are legally binding and constitute the terms and conditions of&nbsp;your agreement with Leo Trippi&nbsp;AG (&laquo;Leo Trippi&raquo;). These Standard Terms and Conditions shall apply to&nbsp;all bookings, except to&nbsp;the extent that the Booking Form and the Terms and Conditions attached thereto are inconsistent with these Standard Terms and Conditions (in&nbsp;which case the applicable provisions of&nbsp;the Booking Form and/or the Terms and Conditions attached thereto shall apply).</p>

                        <h3>The Booking</h3>

                        <p>These Terms and Conditions and the Booking Form contain all the provisions of&nbsp;your booking with Leo Trippi. They apply equally to&nbsp;you, the Group leader and to&nbsp;all the persons named in&nbsp;the <a href="">Booking Form (Occupants)</a>. Your booking concerns a&nbsp;lodging in&nbsp;a&nbsp;furnished luxury Property with daily cleaning and any catering or&nbsp;other auxiliary services that you may have requested, and which are provided through third party supplier(s).</p>

                        <h3>The Parties</h3>

                        <p>Please note that Leo Trippi is&nbsp;solely acting as&nbsp;a&nbsp;booking agent in&nbsp;the name and on&nbsp;behalf of&nbsp;the Owner
                            for the rental of&nbsp;the property and the services to&nbsp;be&nbsp;provided by&nbsp;any service provider [ here-after referred
                            to&nbsp;as&nbsp;&laquo;the Service Provider&raquo;]. The Booking Documents, together with all applicable laws, constitute your agreement for: <br>
                            (i) the short-term rental of&nbsp;the Property with the Owner; and <br>
                            (ii) the services provided by&nbsp;the Service Provider.</p>
                    </div>
                </div>
            </div>
            <div class="p-text-page__section">
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
                <div class="p-text-page__column">
                    <div class="p-text-page__description description">
                        <p>Last Updated on&nbsp;15&nbsp;February 2021</p>

                        <p>Leo Trippi is&nbsp;is&nbsp;committed to&nbsp;keeping your data safe and secure and handling it&nbsp;appropriately within the guidelines of&nbsp;the General Data Protection Regulation (&laquo;GDPR&raquo;). This privacy policy will explain how our company may collect personal data about you, how we&nbsp;might use it&nbsp;and how it&nbsp;is&nbsp;stored. This policy also outlines how you can exercise your privacy rights.</p>

                        <h3>How will we&nbsp;use your data?</h3>
                        <ul>
                            <li>Servicing your requests and bookings</li>
                            <li>Completing travel bookings (this includes sharing your booking information with other parties to&nbsp;fulfil your booking)</li>
                            <li>Advising you of&nbsp;any changes that need to&nbsp;be&nbsp;made to&nbsp;bookings or&nbsp;problems with a&nbsp;chalet reservation</li>
                            <li>To&nbsp;help detect fraud</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
