---
import Icon from '@components/modules/Icon.astro';
import Input from '@components/modules/Input.astro';
import ButtonIcon from '@components/modules/ButtonIcon.astro';

interface Props {
    class?: string;
    [x: string]: any;
}

const {
	class: className,
	...rest
} = Astro.props;

const menu = [
	{
		text: "Курорты",
		submenu: [
			{
				title: 'Швейцария',
				list: ['Андерматт', 'Вейзонна', 'Вербье', 'Гриндельвальд', 'Виллар-сюр-Оллон', 'Гштаад', 'Давос', 'Клостерс', 'Кран-Монтана', 'Ла Тцума', 'Ненда', 'Санкт-Мориц', 'Церматт', 'Flims Laax Falera']
			},
			{
				title: 'Франция',
				list: ['Валь д’Изерt', 'Валь Торанс', 'Куршевель', 'Ле Же', 'Ле Мируар', 'Мерибель', 'Сен-Жерве-Монблан', 'Сен Фуа', 'Тинь', 'Шамони']
			},
			{
				title: 'Австрия',
				list: ['Альпбахталь', 'Китцбюэль', 'Лех', 'Санкт-Антон', 'Циллерталь', 'Цюрс']
			},
			{
				title: 'Италия',
				list: ['Альпбахталь', 'Китцбюэль', 'Лех']
			}
		]
	},
	{
		text: "Шале",
	},
	{
		text: "Коллекции",
		submenu: [
			{
				title: 'Шале по удобствам',
				list: ['Лыжные шале Ski-In/Ski-Out', 'Шале с&nbsp;кинотеатром или телевизором', 'Шале с&nbsp;услугой водителя', 'Шале с&nbsp;тренажерным залом/фитнес-зоной', 'Шале с&nbsp;гидромассажными ваннами', 'Шале со&nbsp;спа-услугами', 'Шале с&nbsp;бассейнами']
			},
			{
				title: 'Шале по праздникам',
				list: ['Шале для рождественских праздников', 'Шале для летнего катания на&nbsp;лыжах', 'Шале для больших групп', 'Шале для зимней свадьбы', 'Шале для празднования Нового года']
			}
		]
	},
	{
		text: "Отели",
	},
	{
		text: "Журнал",
	},
	{
		text: "Пресса",
	},
	{
		text: "Контакты",
	}
]
---
<div
	class:list={[
		'menu js-menu',
		className
	]}
	{...rest}
>
	<!-- <div class="menu__overlay js-menu-overlay"></div> -->
	<button class="menu__burger js-menu-burger" type="button" data-aria-label="Закрыть меню" aria-label="Открыть меню">
		<span></span>
		<span></span>
	</button>
	<div class="menu__popup js-menu-popup">
		<div class="menu__container container js-menu-container">
			<div class="menu__search">
                <form action="" class="menu__search-form">
                    <button type="submit" class="menu__search-submit" aria-label="Найти">
                        <Icon class="menu__search-submit-icon" name='search'></Icon>
					</button>
                    <Input class="menu__search-input" type='search'></Input>
				</form>
			</div>
			<div class="menu__container-top js-menu-container-top"></div>
			<ul class="menu__list">
				{menu.map((item, index) => (
					<li class:list={
						[
							'menu__item js-menu-item',
							item.submenu ? 'js-menu-dropdown' : ''
						]
					}>
						<a href="" class:list={
							[
								'menu__link js-menu-link',
							]
						} set:html={item.text}></a>
						{
							item.submenu ?
							<div class="menu__submenu">
								<div class:list={
									[
										'menu__submenu-row',
										item.submenu.length > 2 ? 'menu__submenu-row_col_4' :  'menu__submenu-row_col_2'
									]
								}>
									{item.submenu.map((itemSubmenu, index) => (
										<div class="menu__submenu-column" role="group" aria-label={itemSubmenu.title}>
											<div class="menu__submenu-title" set:html={itemSubmenu.title}></div>
											<ul class="menu__submenu-list">
												{itemSubmenu.list.map((submenuListItem) => (
													<li>
														<a href="" class="menu__submenu-link" tabindex="-1" set:html={submenuListItem}></a>
													</li>
												))}
											</ul>
										</div>
									))}

								</div>
							</div> : ''
						}
					</li>
				))}
			</ul>
			<div class="menu__social">
				<a href="" class="menu__social-link menu__social-link_vk">
					<Icon class="menu__social-icon" name="vk"></Icon>
				</a>
				<a href="" class="menu__social-link menu__social-link_whatsapp">
					<svg class="menu__social-icon" width="33" height="32" viewBox="0 0 33 32" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.633832 15.8565C0.632867 18.6509 1.36632 21.3792 2.76053 23.7837L0.5 32L8.94643 29.7952C11.2737 31.0587 13.8937 31.7245 16.5602 31.7256H16.567C25.3478 31.7256 32.4963 24.6113 32.5 15.8688C32.5015 11.6315 30.8454 7.64747 27.8375 4.65039C24.8291 1.65331 20.829 0.00182888 16.567 0C7.7844 0 0.637506 7.11348 0.633832 15.8565ZM5.66349 23.3695L5.34819 22.8709C4.02237 20.7724 3.32263 18.3472 3.32359 15.8571C3.32649 8.59054 9.267 2.67822 16.5717 2.67822C20.1091 2.67959 23.4336 4.05248 25.9344 6.54338C28.4348 9.03445 29.8107 12.346 29.8097 15.8675C29.8065 23.1345 23.8659 29.0473 16.5667 29.0473H16.5615C14.1848 29.0459 11.854 28.4108 9.82126 27.21L9.33746 26.9245L4.32499 28.2328L5.66349 23.3695Z" />
						<path d="M5.66349 23.3695L5.34819 22.8709C4.02237 20.7724 3.32263 18.3472 3.32359 15.8571C3.32649 8.59054 9.267 2.67822 16.5717 2.67822C20.1091 2.67959 23.4336 4.05248 25.9344 6.54338C28.4348 9.03445 29.8107 12.346 29.8097 15.8675C29.8065 23.1345 23.8659 29.0473 16.5667 29.0473H16.5615C14.1848 29.0459 11.854 28.4108 9.82126 27.21L9.33746 26.9245L4.32499 28.2328L5.66349 23.3695Z" />
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5843 9.22678C12.286 8.56674 11.9722 8.55353 11.6885 8.54191C11.4563 8.53208 11.1908 8.53272 10.9255 8.53272C10.66 8.53272 10.2287 8.63192 9.86398 9.02853C9.49894 9.42516 8.47046 10.3839 8.47046 12.3338C8.47046 14.2839 9.89723 16.1682 10.096 16.4329C10.2951 16.6971 12.8502 20.8266 16.8964 22.4151C20.2595 23.7354 20.9438 23.4728 21.6737 23.4066C22.4037 23.3406 24.0292 22.4482 24.3608 21.5227C24.6926 20.5973 24.6926 19.8041 24.5932 19.6384C24.4937 19.4733 24.2281 19.3741 23.83 19.176C23.4318 18.9778 21.4746 18.0189 21.1097 17.8866C20.7447 17.7545 20.4793 17.6885 20.2138 18.0853C19.9484 18.4816 19.1859 19.3741 18.9536 19.6384C18.7214 19.9033 18.4891 19.9364 18.091 19.7381C17.6927 19.5392 16.4105 19.1211 14.8894 17.7711C13.7059 16.7206 12.907 15.4233 12.6746 15.0265C12.4424 14.6301 12.6498 14.4155 12.8494 14.2179C13.0283 14.0403 13.2477 13.7551 13.4468 13.5238C13.6454 13.2923 13.7117 13.1272 13.8444 12.8628C13.9773 12.5983 13.9108 12.3668 13.8113 12.1686C13.7117 11.9703 12.938 10.0104 12.584 9.22666" fill="#093C38"/>
					</svg>
				</a>
				<a href="" class="menu__social-link menu__social-link_telegram">
					<Icon class="menu__social-icon" name="telegram"></Icon>
				</a>
			</div>
		</div>
		<!-- <button type="button" class="menu__close js-menu-close"></button> -->
	</div>
</div>
